{% extends "complaints/base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="col-md-9">
		<h3>Add a new user</h3><br>
		<form method="post">
			{% csrf_token %}
			{% for field in form.visible_fields %}
				<div class="row">
					<div class="col-md-2">
						<label>{{ field.label }}</label>
					</div>
					<div class="col-md-4">
						{{ field }}
					</div>
				</div><br>
			{% endfor %}
			<div class="row">
				<div class="col-md-2">
					<!-- NOTHING -->
				</div>
				<div class="col-md-9">
					<button type="submit" name="submit" value="go-back" class="btn btn-success">Save</button>
					<button type="submit" name="submit" value="another" class="btn btn-info">Save and add another</button>
					<a href="{% url 'users' %}"><button class="btn btn-danger">Discard</button></a>
				</div>
			</div>
		</form>
	</div>
{% endblock %}