{% extends "complaints/base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="col-md-7">
		<h3>
			Select a category to change 
			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#add-category-modal" id="modalActionButton">Add Category<i class="fa fa- fa-book"></i></button>
		</h3>
		<br>

		<!-- Modal -->
    <div class="modal fade" tabindex="-1"  id="add-category-modal" role="dialog">
      <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content"  style="width:100%">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Add Category</h4>
            </div>
            <div class="modal-body">
              <form method="post" action="{% url 'add_category' %}">
								{% csrf_token %}
								{% for field in form.visible_fields %}
									<div class="row">
										<div class="col-md-3">
											<label>{{ field.label }}</label>
										</div>
										<div class="col-md-5">
											{{ field }}
										</div>
									</div><br>
								{% endfor %}
								
								<div class="row">
									<div class="col-md-3">
										<!-- NOTHING -->
									</div>
									<div class="col-md-5">
										<button type="submit" name="submit" class="btn btn-success">Save</button>
									</div>
								</div>
							</form>
            </div>
          </div>

      </div>
    </div>
		
		<!-- categorys Table -->
		<div class="row">
			<div class="col-md-6">
				<table class="table">
					<tbody>
						<tr>
							<th>Category Name</th>
							<th></th>
							<th></th>
						</tr>
						{% for category in categories %}
							<tr>
								<td>{{ category.name }}</td>
								<td><a href="{% url 'update_category' category.id %}">Edit</a></td>
								<td><a href="{% url 'delete_category' category.id %}">Delete</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

	</div>
{% endblock %}