{% extends "complaints/base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="col-md-9">
		<form id="new_compaint_form" method="post">
			{% csrf_token %}
			{% for hidden  in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			{% for field in form.visible_fields %}
					<div class="row">
						<div class="col-md-2">
							<label>{{ field.label }}</label><br>
						</div>
						<div class="col-md-9">
							{{ field }}<br>
						</div>
					</div>
			{% endfor %}
			<div class="row">
				<div class="col-md-2">
					<!-- NOTHING -->
				</div>
				<div class="col-md-9">
					<input type="submit" name="submit" value="Save New Complaint" class="btn btn-success">
				</div>
			</div>
		</form>
	</div>
{% endblock %}