{% extends "complaints/base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="col-md-7">
			<h3>
				Select a platform to change 
				<a href="{% url 'platforms' %}"><button class='btn btn-info'>Add platform</button></a>
			</h3>
			<br>
			
			<div class="row">
				<div class="col-md-6">
				<table class="table">
					<tbody>
						<tr>
							<th>Platform Name</th>
							<th></th>
							<th></th>
						</tr>
						{% for platform in platforms %}
							<tr>
								<td>{{ platform.name }}</td>
								<td><a href="#">Edit</a></td>
								<td><a href="#">Delete</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

	</div>
{% endblock %}