{% extends "complaints/base.html" %}
{% load staticfiles %}

{% block styles %}
  <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}"/>
  <link rel="stylesheet" href="{% static "css/jquery-ui-timepicker-addon.css" %}"/>
{% endblock %}

{% block content %}
	<div class="col-md-9">
		<form method="post">
			{% csrf_token %}
			{% for field in form.visible_fields %}
				<div class="row">
					<div class="col-md-2">
						<label>{{ field.label }}</label><br>
					</div>
					<div class="col-md-9">
						{{ field }}<br>
					</div>
				</div>
			{% endfor %}
			<div class="row">
				<div class="col-md-2">
					<!-- NOTHING -->
				</div>
				<div class="col-md-9">
					<input type="submit" name="submit" value="Save Changes" class="btn btn-success">
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block scripts %}
	<script src="{% static "js/jquery-ui.js" %}"></script>
	<script src="{% static "js/jquery-ui-timepicker-addon.js" %}"></script>
	<script src="{% static "js/update.js" %}"></script>
{% endblock %}